.only-shadow {
  -webkit-box-shadow: 0 0 5px 0 #A1A1A1;
  box-shadow: 0 0 5px 0 #A1A1A1; }

.cardstyle {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 #A1A1A1;
  box-shadow: 0 0 5px 0 #A1A1A1; }

body {
  font-family: "Helvetica Neue","Microsoft Yahei",sans-serif,serif;
  background: url("../img/bg.jpg") repeat;
  margin-top: 80px; }

hr {
  border-top: 2px solid #209e40;
  padding: 10px 0; }

nav * {
  font-weight: bold;
  font-size: 14px; }

nav .container {
  padding: 15px; }

.navbar-brand,
.navbar-brand > img {
  padding-right: 15px;
  padding-left: 15px;
  height: 50px; }

.site-map {
  margin: 0 0 20px 100px;
  padding-top: 20px;
  color: #209e40; }
  .site-map a {
    font-size: 14px;
    color: #209e40; }
    .site-map a:hover {
      color: black;
      text-decoration: none; }

.list-col-4 {
  text-align: center;
  width: 90%;
  margin: 20px auto; }
  .list-col-4 h2 {
    color: #209e40;
    width: 100%;
    display: inline-block; }
  .list-col-4 .home-course,
  .list-col-4 .home-essay {
    width: 23%;
    margin-left: 1.6%;
    margin-bottom: 4.8%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    background-color: white;
    border-radius: 6px;
    padding: 0;
    -webkit-box-shadow: 0 0 5px 0 #A1A1A1;
    box-shadow: 0 0 5px 0 #A1A1A1; }
    .list-col-4 .home-course h3,
    .list-col-4 .home-essay h3 {
      width: 80%;
      text-align: left;
      font-size: 1.7rem;
      font-weight: bold;
      color: #932009;
      letter-spacing: 2px;
      padding-left: 20px;
      margin: 20px 0 15px 0; }
    .list-col-4 .home-course hr,
    .list-col-4 .home-essay hr {
      padding: 0;
      margin: 0;
      border-top: 1px solid #E5E5E5; }
    .list-col-4 .home-course .prof,
    .list-col-4 .home-course .post-time,
    .list-col-4 .home-essay .prof,
    .list-col-4 .home-essay .post-time {
      width: 80%;
      text-align: left;
      font-size: 1.3rem;
      padding-top: 10px;
      padding-left: 20px;
      color: #932009; }
    .list-col-4 .home-course .bottom,
    .list-col-4 .home-essay .bottom {
      background-color: #209e40;
      width: 100%;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      color: white;
      font-size: 1.3rem;
      margin-top: 60%;
      padding-top: 4%;
      padding-bottom: 4%; }
      .list-col-4 .home-course .bottom p,
      .list-col-4 .home-essay .bottom p {
        margin: 0px 20px;
        text-align: left; }
        .list-col-4 .home-course .bottom p .post-num,
        .list-col-4 .home-course .bottom p .review-num,
        .list-col-4 .home-essay .bottom p .post-num,
        .list-col-4 .home-essay .bottom p .review-num {
          margin-left: 3%; }
  .list-col-4 .home-essay .essay-type {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: white;
    text-align: left;
    padding-left: 20px;
    margin: 0;
    font-size: 1.3rem;
    background-color: #e9e9e9; }
  .list-col-4 .home-essay .feedback {
    background-color: #107B5D; }
  .list-col-4 .home-essay .ask {
    background-color: #f0542a; }
  .list-col-4 .home-essay .notice {
    background-color: #f3ae1e; }

#footerDomain {
  position: relative;
  display: inline-block;
  bottom: 0;
  width: 100%;
  height: 100px; }
  #footerDomain .bottom-info {
    width: 100%;
    background-color: #209e40;
    text-align: center; }
    #footerDomain .bottom-info img {
      width: 8%;
      margin: auto;
      margin: 20px; }
    #footerDomain .bottom-info p {
      color: white;
      font-size: 1rem;
      padding-bottom: 2%;
      margin-bottom: 0; }

#course .course-card {
  margin-bottom: 30px;
  border-bottom: #ededed 2px solid;
  min-height: 190px;
  padding: 10px 20px; }
#course .userrate-card {
  margin-bottom: 30px;
  border-bottom: #ededed 2px solid;
  padding: 10px 20px; }
#course .course-info h3 {
  color: #209e40;
  font-weight: bold;
  margin: 0;
  padding: 20px 0 0 5px; }
#course p.title {
  color: #a3a3a3; }

table {
  margin: 30px 0 10px 0; }
  table tr > th {
    color: #a3a3a3;
    font-weight: normal; }
  table tr > td {
    color: #209e40; }

.course-rating hr {
  margin: 0;
  padding: 0;
  border-top: 1.5px solid #f4f4f4; }
.course-rating .rates-row {
  margin: 10px 0 10px 0; }
  .course-rating .rates-row p {
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle; }
    .course-rating .rates-row p:first-child {
      border-radius: 5px;
      border: 2px solid #209e40;
      width: 20%;
      padding: 5px;
      color: #209e40;
      font-weight: bold;
      letter-spacing: 2px; }
    .course-rating .rates-row p:nth-child(2) {
      width: 20%;
      font-size: 1.4em;
      font-weight: bold; }
  .course-rating .rates-row #flat-slider {
    width: 50%;
    display: inline-block;
    left: 3%;
    vertical-align: middle; }

.user-rating .rates-col {
  margin: 10px 0 10px 0;
  width: 32.5%;
  display: inline-block; }
  .user-rating .rates-col p {
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle; }
    .user-rating .rates-col p:first-child {
      border-radius: 5px;
      border: 2px solid #209e40;
      padding: 5px;
      color: #209e40;
      font-weight: bold;
      letter-spacing: 2px; }
    .user-rating .rates-col p:nth-child(2) {
      font-size: 1.4em;
      font-weight: bold; }

#right-answer {
  border-top: 10px #209e40 solid;
  border-top-right-radius: 10px; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

hr {
  margin: 0;
  padding: 5px 0; }

.article {
  background-color: white;
  padding: 30px 40px; }
  .article h4.article-title {
    font-size: 28px; }

.comment-seperate {
  color: #209e40;
  font-weight: bold;
  margin: 30px 20px 20px;
  font-size: 2rem; }

.typein {
  background-color: white;
  padding: 30px;
  text-align: justify;
  margin-bottom: 30px; }
  .typein * {
    vertical-align: top; }
  .typein textarea {
    resize: vertical;
    width: 88%; }
  .typein button {
    width: 10%;
    min-width: 50px;
    margin-left: 90%;
    margin-top: 10px; }

.past-comment {
  margin-bottom: 30px;
  background-color: white;
  padding: 30px;
  text-align: justify; }
  .past-comment * {
    vertical-align: top; }
  .past-comment .comment-content {
    width: 88%;
    display: inline-block; }
    .past-comment .comment-content p {
      font-size: 1.5rem;
      width: 100%;
      margin: 0;
      margin-left: 2%; }
      .past-comment .comment-content p.user-name {
        font-size: 1.3rem;
        font-weight: bold; }
      .past-comment .comment-content p.post-time {
        font-size: 1rem; }

/*# sourceMappingURL=essay.css.map */
